<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="/">Student Management System</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
    <form class="form-inline">
      <span class="mr-sm-2"> <em>Already a user? please log in</em></span>
      <input class="form-control mr-sm-2" type="text" placeholder="Username">

      <input class="form-control mr-sm-2" type="text" placeholder="Password">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><a href="../dashboard">login</a></button>
    </form>
  </div>
  </div>
</nav>
    
      
    
  
    
 
  

        
  